@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root{
    --Dark-gray: hsl(0, 0%, 59%);
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Kumbh Sans , sans-serif;
}
body{
    height: auto;
    background-color: var(--Dark-cyan);
    background-image: url(./images/bg-pattern-top.svg);
    background-repeat: no-repeat;
    background-position:-350px -520px;
}
.container{
    height: 100vh;
    background-image: url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position:650px 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main{
    height: auto;
    width: 340px;
    padding:10px;
    background-color: white;
    overflow: hidden;
    border-radius: 15px;
}
.img{
    width: 100%;
    height: 100%;
}
.img-victor{
    border: 5px solid white;
    border-radius: 50%;
    margin-top: -55px;
}
.card{
    text-align: center;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 0;
}
h2,h3{
    font-weight: 700;
    font-size: 18px;
    color: var(--Very-dark-desaturated-blue);
}
h2{
    margin: 10px 0;
}
p,span{
    color: var(--Dark-gray);
    text-align: center;
    font-size: 14px;
}
#s1{
    margin-left: 10px;
    font-weight: 400;
    font-size: 18px;
}
#s2{
    display: block;
    border-bottom: .1rem solid var(--Dark-gray);
    margin: 25px  0;
    opacity: 30%;
}
